/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$color-primary: rgb(85, 197, 122);
$color-primary-light: rgb(8, 92, 247);
$color-primary-dark: rgb(3, 12, 90);
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-box-shadow: rgb(9, 1, 29);